/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161024;
}

.circle {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 181px;
    top: 518px;
    background: #9747FF;
    opacity: 0.5;
    filter: blur(77px);
    border-radius: 50%;
}

.bigCircle {
    position: absolute;
    width: 700px;
    height: 700px;
    left: -257px;
    top: -284px;
    background: #312964;
    opacity: 0.7;
    filter: blur(77.5px);
    border-radius: 50%;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    overflow: hidden;
    margin: 0 20px;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form {
    width: 50%;
    /* padding: 16px; */
    /* background-color: #312964; */
    transition: margin-left 0.18s ease;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 660px;
}

.container .form .title {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    color: #FAFAFA;
}



.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 16px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 46px;
    outline: none;
    border-radius: 8px;
    background: #161024;
    border-color: transparent;
    color: #FAFAFA;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    transition: all 0.2s ease;
}


.input-field i {
    position: absolute;
    top: 50%;
    margin-left: 13px;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid)~.icon {
    display: none;
}

.input-field input:is(:focus, :valid) {
    padding-left: 12px;
    border: 1px solid #828282;
}

input:focus::placeholder {
    color: transparent;
}


.input-field input:not(:placeholder-shown)~.icon {
    display: none;
}

.input-field i.icon {
    left: 0;
    color: #828282;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
    display: none;
}

.input-field input:is(:focus, :valid)~.showHidePw {
    display: inline;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text {
    color: #FAFAFA;
    font-size: 14px;
}

.form a.text {
    color: #81AEF1;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #333333;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background: #1E1E1E;
    cursor: pointer;
    transition: all 0.3s ease;
}




/* .button input:hover {
    background-color: #265df2;
} */

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}