<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== Flaticon ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <!-- <link rel="stylesheet" href="{% static '\css\style.css' %}"> -->
    <link rel="stylesheet" href="../static/css/style.css">


    <!--<title>Login & Registration Form</title>-->
</head>

<body>
    <div class="circle"></div>
    <div class="bigCircle"></div>
    <div class=dashContainer>
        <div class=usrContainer>
            <div class="usrContDet">
                <img class="usrImg" src="../static/images/ellipse_1.png" alt="">
                <span class="usrName">Bienvenido,<br>José Domingo
                </span>
            </div>
        </div>
        <div class="menuCont">
            <i class="uil uil-bars"></i>
        </div>
    </div>
    <div class="searchContainer">
        <form class="searchBar" action="#">
            <input class="searchInput" type="text" placeholder="Busca eventos, grupos, usuarios...">
            <button type="submit"><i class="uil uil-search"></i></button>
        </form>
    </div>
    <div class="container2">
        <div class="contentContainer2">
            <h1>Crea tu caimana</h1>
            <p>Lorem ipsum dolor sit amet consectetur.<br>
                sint vero quo</p>
            <input type="button" value="Hazlo ahora!">
        </div>
    </div>
    <div class="container3">
        <div class="contentContainer3">
            <img src="../static/images/rectangle_10.png" alt="">
            <h1>Amigos</h1>
        </div>
        <div class="contentContainer3">
            <img src="../static/images/rectangle_12.png" alt="">
            <h1>Grupos</h1>
        </div>
    </div>
    <div class="container4">
        <h1>Próximos partidos</h1>
        <div class="nextMatchCont4">
            <div class="innerCont">
                <h1>Jueves 19hs, Partido 5v5</h1>
                <div>
                    <i class="uil uil-user-square"></i>
                    <p>9/10</p>
                </div>
            </div>
            <div class="innerCont">
                <div>
                    <i class="uil uil-clock-eight"></i>
                    <p>19/12/2022</p>
                </div>
            </div>
            <div class="innerCont">
                <div>
                    <i class="uil uil-map-marker"></i>
                    <p>Open Dorrego Atlanta</p>
                </div>
                <div>
                    <i class="uil uil-user"></i>
                    <p>Masculino</p>
                </div>
            </div>

            <div class="container4Inputs">
                <input type="button" value="Ver más">
                <input type="button" value="Anotarme">
            </div>
        </div>
    </div>
    <div class="container4">
        <h1>Actividades recientes</h1>
        <div class="recentAct">
            <div class="innerCont2">
                <i class="uil uil-comment-info-alt"></i>
                <p><strong>YoryoToure</strong> se ha bajado de la caimana para la partida de <strong>Jueves 7pm, Partido
                        5v5</strong></p>
            </div>
        </div>
        <div class="recentAct">
            <div class="innerCont2">
                <i class="uil uil-comment-heart"></i>
                <p><strong>AlePlgr</strong> se ha unido a la caimana para la partida de <strong>Jueves 7pm, Partido
                        5v5</strong></p>
            </div>
        </div>
    </div>










    <script src="{% static '\js\script.js' %}"></script>
</body>

</html>