{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== Flaticon ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <!-- <link rel="stylesheet" href="{% static '\css\style.css' %}"> -->
    <link rel="stylesheet" href="../static/css/style.css">


    <!--<title>Login & Registration Form</title>-->
</head>

<body>

    <div class="circle"></div>
    <div class="bigCircle"></div>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Inicio de sesión</span>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Correo electrónico" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Contraseña" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Recordar mis datos</label>
                        </div>

                        <a href="#" class="text">¿Olvidó contraseña?</a>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Iniciar sesión">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">¿No tienes cuenta?
                        <a href="#" class="text signup-link">Registro</a>
                    </span>
                </div>
            </div>

            <!-- Registration Form -->
            <div class="form signup">
                <span class="title">Registro</span>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Nombre y apellido" required>
                        <i class="uil uil-user icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Correo electrónico" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Número de teléfono" required>
                        <i class="uil uil-mobile-android icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Contraseña" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirmar contraseña" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="termCon">
                            <label for="termCon" class="text">Al registrarse, acepta nuestros términos y condiciones y
                                nuesta política de privacidad </label>
                        </div>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Crear cuenta">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">¿Ya tienes cuenta?
                        <a href="#" class="text login-link">Iniciar sesión</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '\js\script.js' %}"></script>
</body>

</html>